* {
    margin: 0;
   list-style-type: none;
   text-decoration: none;
   --secondary-color: black;
 
}
:root {
    --primary-color: white;
    --secondary-color: black;
}

body {
    
    
    color: var(--primary-color);
    
}
.bodyindex {
    background-image: url(plages.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 100vh;
    
}
.bodyculture {
    
}
  
    
   git status
.religions { 
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
    display: flex
    }
    .culte { 
        background-color: green;
            color: var(--secondary-color);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            flex-direction: column;
            display: flex
           
        }
        .roi { 
            background-color: yellow;
            color: var(--secondary-color);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            flex-direction: column;
            display: flex
           
            }


.bodydecouvrir {
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.urbanisme { 
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
    display: flex
    height: 100px;
    }
    .plaine { 
        background-color: green;
        color: var(--secondary-color);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       flex-direction: column;
        display: flex
        }
        .plage { 
            background-color: yellow;
            color: var(--secondary-color);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           flex-direction: column;
            display: flex
            }

.bodyinfos-utiles {
    
    
}
.affaires {  
    background-color: yellow;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
    display: flex
    
}
.passeport { 
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
    display: flex
    
}
.resto {  
    background-color: green;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
    display: flex
    
}

    


.titre {
    font-family: 'Lemonada', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.105);
    width: 100%;
    text-align: center;
}
img{
    
    width: 100px;
    display: flex;
    margin: 5px;

    
}
header nav{
    background-color: var(--primary-color) ;
   color: var(--secondary-color);
   display: flex;
}
.barre
{
align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

    ul li a{
    padding: 10px;
    color: var(--secondary-color);
    margin-left : 5rem;
}
   
ul li a:hover{
    color: gray;
}

