* {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    --secondary-color: black;


}

:root {
    --primary-color: white;
    --secondary-color: black;
}

body {
    color: var(--primary-color);
}

.bodyindex {
    background-image: url(plages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;


}




.religions {
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.culte {
    background-color: green;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.roi {
    background-color: yellow;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}


.bodydecouvrir {
    color: var(--secondary-color);
}

.urbanisme {
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.plaine {
    background-color: green;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.plage {
    background-color: yellow;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.affaires {
    background-color: yellow;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.passeport {
    background-color: red;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.resto {
    background-color: green;
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;    
}




.titre {
    font-family: 'Lemonada', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.105);
    width: 100%;
    text-align: center;
}

img {

    width: 100px;
    display: flex;
    margin: 5px;


}

header nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
}

.barre {
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

}

ul li a {
    padding: 10px;
    color: var(--secondary-color);
    margin-left: 5rem;
    box-shadow: 0 0 5px var(--secondary-color);
}

ul li a:hover {
    color: gray;
}

.img-footer {

    width: 50%;
    margin: auto;
}

.img-footer img {
    width: 100%;

}

.img-header {

    width: 50%;
    margin: auto;
}

.img-header img {
    width: 100%;
}

